<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav>
      <mat-toolbar>
          <button mat-button (click)="sidenav.close()">
              <mat-icon>close</mat-icon>
            </button>
            Menu
      </mat-toolbar>
    <app-navbar></app-navbar>
  </mat-sidenav>
  <div class="my-content">
    <mat-toolbar>
      <button mat-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <div class="grid grid-pad">
        <router-outlet></router-outlet>
    </div>
    

  </div>
</mat-sidenav-container>
